$blue: #009cff;
$white: #fff;
body{
	font-family: "Open Sans", sans-serif;
	background-color: #efefef;
	div#loader{
		height: 100vh;
		width: 100%;
		position: absolute;
		z-index: 99999;
		background-color: $blue;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		transition: 0.5s linear all;
		opacity: 1;
		&.ng-hide-remove{
			opacity: 0;
			display: block!important;
		}
		&.ng-hide-remove, &.ng-hide-remove-active{
			opacity: 1;
		}
		div.spinner{
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	header{
		background-color: $white;
		padding: 15px 0;
		h1{
			margin: 0;
			color: $blue;
			@media screen and (max-width: 991px){
				font-size: 26px;
			}
			@media screen and (max-width: 767px){
				font-size: 20px;
				span.extraneous{
					display: none;
				}
			}
		}
	}
  	div#gallery{
  		div.container{
  			padding: 0 8px;
  		}
		div#gallery-mainpicture-outer{
			position: relative;
			div.label-wrapper{
				position: absolute;
				z-index: 999;
				width: 100%;
				text-align: center;
				top: 40px;
				transition: opacity .6s linear .85s;
				opacity: 0;
				&.loaded{
					opacity: 1;
				}
				div.label{
					background-color: $blue;
					color: $white;
					display: inline-block;
					font-size: 16px;
					font-weight: normal;
					padding: 1em 4em;
					@media screen and (max-width: 991px){
						font-size: 12px;
						padding: 1em 2em;
					}
				}
			}
			div#gallery-mainpicture{
				position: relative;
				width: 100%;
				overflow: auto;
				resize: both;
				height: 500px;
				@media screen and (max-width: 991px){
					height: 300px;
				}
				//background-color: $blue;
				img{
					opacity: 0;
					transition: opacity .6s linear .85s;
					max-width: 2700px;
					@media screen and (max-width: 767px){
						width: 1500px;
					}
					&.loaded{
						opacity: 1;
					}
				}
				div.img-pan-container,
				div.img-pan-container img{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box; 
					box-sizing: border-box;
				}
				div.img-pan-container{
					position: relative;
					overflow: hidden;
					cursor: crosshair;
					height: 100%;
					width: 100%;
				}
				div.img-pan-container img{
					-webkit-transform: translateZ(0);
					-ms-transform: translateZ(0);
					transform: translateZ(0);
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
		div.container{
			text-align: center;
			div.label{
				margin-top: 50px;
				margin-bottom: 15px;
				background-color: $blue;
				color: $white;
				display: inline-block;
				font-size: 12px;
				padding: 1em 2em;
				font-weight: normal;
				display: none;
				@media screen and (max-width: 500px){
					display: inline-block;
				}
			}
		}
		div#gallery-carousel{
			opacity: 0;
			position: relative;
			transition: opacity .6s linear .85s;
			text-align: center;
			@media screen and (min-width: 501px){
				margin-top: 50px;
			}
			div.button-outer{
				width: 20%;
				position: absolute;
				height: 100%;
				top: 0;
				padding: 0 7px;
				z-index: 99;
				overflow: hidden;
				transition: 0.25s opacity ease-in-out;
				@media screen and (max-width: 991px){
					width: 33%;
				}
				&.prev{
					left: 0;
				}
				&.next{
					right: 0;
				}
				button{
					height: 100%;
					width: 100%;
					top: 0;
					background-color: rgba(#000, 0.5);
					border: none;
					border-radius: 4px;
					display: table-cell;
  					vertical-align: middle;
  					transition: 0.25s background-color ease-in-out;
  					&:hover{
  						background-color: $blue;
  					}
  					&:focus{
  						outline: none;
  					}
					i{
						color: #fff;
						font-size: 100px;
						@media screen and (max-width: 991px){
							font-size: 60px;
						}
					}
				}
				&[aria-disabled=true]{
					opacity: 0.4;
					button{
						cursor: default;
						&:hover{
	  						background-color: rgba(#000, 0.5);
	  					}
					}
				}
			}
			div.slick-slide{
				overflow: hidden;
				padding: 0 8px;
				height: auto;
				&:focus{
					outline: none;
				}
				img{
					border-radius: 4px;
					width: 100%;
				}
			}
			div.placeholder{
				@media screen and (max-width: 500px){
					display: none;
				}
			}
		}
	}
}

